---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dh-stage-trino

resources:
  - ../../../base/trino

generators:
  - secret-generator.yaml

patchesStrategicMerge:
  - trino-config-secret.yaml

patchesJson6902:
  - patch: |
      - op: add
        path: /spec/applications/-
        value:
          kustomizeConfig:
            repoRef:
              name: idh
              path: odh-manifests/trino
          name: idh-trino
      - op: add
        path: /spec/repos/-
        value:
          name: idh
          uri: https://github.com/AICoE/internal-data-hub/tarball/main
    target:
      group: kfdef.apps.kubeflow.org
      kind: KfDef
      name: opendatahub
      version: v1
  - patch: |
      - op: replace
        path: /data/s3_credentials_secret
        value: stage-aws-secret
    target:
      kind: ConfigMap
      name: trino-config
      version: v1
  - patch: |
      - op: replace
        path: /data/s3_endpoint_url
        value: s3.upshift.redhat.com
    target:
      kind: ConfigMap
      name: trino-config
      version: v1
  - patch: |
      - op: replace
        path: /data/trino_environment
        value: stage
    target:
      kind: ConfigMap
      name: trino-config
      version: v1
