---
apiVersion: v1
kind: Secret
metadata:
  name: trino-config
stringData:
  config-coordinator.properties: |-
    coordinator=true
    node-scheduler.include-coordinator=false
    http-server.http.port=8080
    discovery-server.enabled=true
    discovery.uri=http://localhost:8080
    http-server.authentication.type=PASSWORD
    http-server.process-forwarded=true
    password-authenticator.config-files=/etc/trino/ldap-authenticator.properties,/etc/trino/file-authenticator.properties
  config-worker.properties: |-
    coordinator=false
    http-server.http.port=8080
    discovery.uri=http://trino-service:8080
  jvm.config: |-
    -server
    -Xmx16G
    -XX:-UseBiasedLocking
    -XX:+UseG1GC
    -XX:G1HeapRegionSize=32M
    -XX:+ExplicitGCInvokesConcurrent
    -XX:+ExitOnOutOfMemoryError
    -XX:+HeapDumpOnOutOfMemoryError
    -XX:ReservedCodeCacheSize=512M
    -XX:PerMethodRecompilationCutoff=10000
    -XX:PerBytecodeRecompilationCutoff=10000
    -Djdk.attach.allowAttachSelf=true
    -Djdk.nio.maxCachedBufferSize=2000000
  log.properties: |-
    io.trino=INFO
  node.properties: |-
    node.environment=$(trino_environment)
    node.data-dir=/tmp/data/trino
  ldap-authenticator.properties: |-
    password-authenticator.name=ldap
    ldap.url=ldaps://ldap.corp.redhat.com
    ldap.ssl-trust-certificate=/etc/trino/certs/RH-IT-Root-CA.crt
    ldap.user-bind-pattern=uid=${USER},ou=Users,dc=redhat,dc=com
  file-authenticator.properties: |-
    password-authenticator.name=file
    file.password-file=/etc/trino/password.db
  password.db: |-
    trino-admin:$2y$10$l9G7GLksnvOSGtM7av9Ja.g3oIO4HgYi3yFhKQz0YFLMy/itp4qLq
    ccx-admin:$2y$10$W0f2bKyu4Lhwulo7WOVm2uJr47sE.i5Z6vdZ4v6oXkD45VrgFyhaq
  group-provider.properties: |-
    group-provider.name=file
    file.group-file=/etc/trino/group-mapping.properties
  group-mapping.properties: |-
    data-hub-admins:aasthana,acorvin,gfrasca,lferrnan,mshah,rmartine,trino-admin
    ccx:afalossi,mbacovsk,mklika,ometelka,tdosek,tsedlace
    grokket:jmarlow,lmasse,mguan
    product-marketing:rking,tibrahim
    openshift-community-enablement:jfiala
    openshift:ccoleman
    acm-observability:jbanerje
    openshift-qe:esammons
    ansible-engineering:lsmola
    usir:sperkins
    openshift-analytics:rzalavad
  access-control.properties: |-
    access-control.name=file
    security.config-file=/etc/trino/rules.json
  rules.json: |-
    {
      "catalogs": [
        {
          "group": "data-hub-admins",
          "allow": "all"
        },
        {
          "group": "ccx|grokket|product-marketing|openshift|openshift-community-enablement|acm-observability|openshift-qe|ansible-engineering|usir|openshift-analytics",
          "allow": "read-only"
        },
        {
          "allow": "none"
        }
      ],
      "schemas": [
        {
          "group": "data-hub-admins",
          "owner": true
        },
        {
          "group": "ccx|grokket|product-marketing|openshift|openshift-community-enablement|acm-observability|openshift-qe|ansible-engineering|usir|openshift-analytics",
          "schema": "telemetry|jdbc",
          "owner": true
        },
        {
          "owner": false
        }
      ],
      "tables": [
        {
          "group": "data-hub-admins",
          "privileges": ["SELECT", "INSERT", "DELETE", "OWNERSHIP", "GRANT_SELECT"]
        },
        {
          "group": "ccx|grokket|product-marketing|openshift|openshift-community-enablement|acm-observability|openshift-qe|ansible-engineering|usir|openshift-analytics",
          "schema": "telemetry",
          "privileges": ["SELECT"]
        },
        {
          "privileges": []
        }
      ]
    }
